        <style>
            .jumbotron{
                background-color:#2E2D88;
                color:white;
            }
            
            .tab-content{
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom:  1px solid #ddd;
                
                padding: 10px;
                
            }
            .nav-tabs{
                margin-bottom: 0;
            }
            
        </style>